*{
    margin: 0px;
    padding: 0px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
}

.img {
    background-image: url(./images/signup-form.jpg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    width: 40vw;
}

.img-info {
    position: absolute;
    bottom: 0px;
    color: aliceblue;
    text-align: center;
}

a {
    color:rgb(139, 178, 190);
}

.pad {
    padding-left: 3vw;
}

.form-div {
    width: 60vw;
    background-color: rgb(139, 178, 190);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.text-div {
    border: 1px solid red;
}

.signup-div {
    border: 1px solid blue;
    display: flex;
    flex-flow: row wrap;
}

.form {
    display: flex;
    flex-flow: column wrap;
}

.submit-div {
    border: 1px solid red;
}