*{
    margin: 0px;
    padding: 0px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
}

.img {
    background-image: url(./images/signup-form.jpg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    width: 40vw;
}

.img-info {
    position: absolute;
    bottom: 0px;
    color: aliceblue;
    text-align: center;
}

a {
    color:rgb(139, 178, 190);
}

.pad {
    padding-left: 3vw;
}

.right-div {
    width: 60vw;
    background-color: rgb(147, 184, 196);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.text-div {
    /* border: 1px solid red; */
}

.extra-text {
    padding: 12px 0px
}

.signup-div {
    /* border: 1px solid blue; */
    display: flex;
    flex-flow: row wrap;
    background-color: rgb(0, 0, 0, 0.2);
    box-shadow: 0 8px 6px -6px black;
}

.input {
    display: flex;
    flex-flow: column wrap;
    /* width: 30%; */
}

.submit-div {
    padding: 3vw;
    /* border: 1px solid red; */
    
}